<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stations_management.enterprise.mapper.SQualificationsInfoMapper">

    <resultMap type="SQualificationsInfo" id="SQualificationsInfoResult">
        <result property="id" column="id"/>
        <result property="qEnterpriseInfoId" column="q_enterprise_info_id"/>
        <result property="qEnterpriseAccount" column="q_enterprise_account"/>
        <result property="qQualificationsNam" column="q_qualifications_nam"/>
        <result property="qQualificationsNo" column="q_qualifications_no"/>
        <result property="qCertificateNo" column="q_certificate_no"/>
        <result property="version" column="VERSION"/>
        <result property="crtime" column="CRTIME"/>
        <result property="cruser" column="CRUSER"/>
        <result property="crusername" column="CRUSERNAME"/>
        <result property="del" column="DEL"/>
        <association property="enterpriseInfo" column="q_enterprise_info_id" javaType="SEnterpriseInfo" resultMap="SEnterpriseInfoResult"/>
    </resultMap>
    <resultMap type="SEnterpriseInfo" id="SEnterpriseInfoResult">
        <result property="id" column="id"/>
        <result property="eName" column="e_name"/>
        <result property="eType" column="e_type"/>
        <result property="eEname" column="e_ename"/>
        <result property="eAbbreviation" column="e_abbreviation"/>
        <result property="eAddress" column="e_address"/>
        <result property="eLegalPerson" column="e_legal_person"/>
        <result property="eLegalPersonPhone" column="e_legal_person_phone"/>
        <result property="eBusinessPerson" column="e_business_person"/>
        <result property="eBusinessPersonPhone" column="e_business_person_phone"/>
        <result property="eRegisterTime" column="e_register_time"/>
        <result property="eBusinessScope" column="e_business-scope"/>
        <result property="eCustomsNo" column="e_customs_no"/>
        <result property="eOrganizationNo" column="e_organization_no"/>
        <result property="eIsMember" column="e_is_member"/>
        <result property="eIsCargoOwner" column="e_is_cargo_owner"/>
        <result property="eIsForwarder" column="e_is_forwarder"/>
        <result property="eIsTrailer" column="e_is_trailer"/>
        <result property="eRemarks" column="e_remarks"/>
        <result property="version" column="VERSION"/>
        <result property="crtime" column="CRTIME"/>
        <result property="cruser" column="CRUSER"/>
        <result property="crusername" column="CRUSERNAME"/>
        <result property="del" column="DEL"/>
    </resultMap>

    <sql id="selectSQualificationsInfoVo">
        select q.id, q.q_enterprise_info_id,e.e_name, q.q_enterprise_account, q.q_qualifications_nam, q.q_qualifications_no, q.q_certificate_no, q.VERSION, q.CRTIME, q.CRUSER, q.CRUSERNAME, q.DEL
        from s_qualifications_info q
        LEFT JOIN s_enterprise_info e ON q.q_enterprise_info_id = e.id
    </sql>

    <select id="selectSQualificationsInfoList" parameterType="SQualificationsInfo"
            resultMap="SQualificationsInfoResult">
        <include refid="selectSQualificationsInfoVo"/>
        <where>
            and q.DEL = 0
            <if test="qEnterpriseInfoId != null ">and q.q_enterprise_info_id = #{qEnterpriseInfoId}</if>
            <if test="qEnterpriseAccount != null  and qEnterpriseAccount != ''">and q.q_enterprise_account =
                #{qEnterpriseAccount}
            </if>
            <if test="qQualificationsNam != null  and qQualificationsNam != ''">and q.q_qualifications_nam =
                #{qQualificationsNam}
            </if>
            <if test="qQualificationsNo != null  and qQualificationsNo != ''">and q.q_qualifications_no =  #{qQualificationsNo}
            </if>
            <if test="qCertificateNo != null  and qCertificateNo != ''">and q.q_certificate_no = #{qCertificateNo}</if>
            <if test="version != null ">and q.VERSION = #{version}</if>
            <if test="crtime != null ">and q.CRTIME = #{crtime}</if>
            <if test="cruser != null  and cruser != ''">and q.CRUSER = #{cruser}</if>
            <if test="crusername != null  and crusername != ''">andq. CRUSERNAME like concat('%', #{crusername}, '%')</if>

        </where>
    </select>

    <select id="selectSQualificationsInfoById" parameterType="Long" resultMap="SQualificationsInfoResult">
        <include refid="selectSQualificationsInfoVo"/>
        where q.id = #{id}
        and q.DEL = 0
    </select>
    <select id="selectRecordCompanyList" resultType="java.util.Map">
        select id, e_name eName from s_enterprise_info where DEL=0
    </select>

    <insert id="insertSQualificationsInfo" parameterType="SQualificationsInfo" useGeneratedKeys="false">
        insert into s_qualifications_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qEnterpriseInfoId != null ">q_enterprise_info_id,</if>
            <if test="qEnterpriseAccount != null  and qEnterpriseAccount != ''">q_enterprise_account,</if>
            <if test="qQualificationsNam != null  and qQualificationsNam != ''">q_qualifications_nam,</if>
            <if test="qQualificationsNo != null  and qQualificationsNo != ''">q_qualifications_no,</if>
            <if test="qCertificateNo != null  and qCertificateNo != ''">q_certificate_no,</if>
            <if test="version != null ">VERSION,</if>
            <if test="crtime != null ">CRTIME,</if>
            <if test="cruser != null  and cruser != ''">CRUSER,</if>
            <if test="crusername != null  and crusername != ''">CRUSERNAME,</if>
            <if test="del != null ">DEL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="qEnterpriseInfoId != null ">#{qEnterpriseInfoId},</if>
            <if test="qEnterpriseAccount != null  and qEnterpriseAccount != ''">#{qEnterpriseAccount},</if>
            <if test="qQualificationsNam != null  and qQualificationsNam != ''">#{qQualificationsNam},</if>
            <if test="qQualificationsNo != null  and qQualificationsNo != ''">#{qQualificationsNo},</if>
            <if test="qCertificateNo != null  and qCertificateNo != ''">#{qCertificateNo},</if>
            <if test="version != null ">#{version},</if>
            <if test="crtime != null ">#{crtime},</if>
            <if test="cruser != null  and cruser != ''">#{cruser},</if>
            <if test="crusername != null  and crusername != ''">#{crusername},</if>
            <if test="del != null ">#{del},</if>
        </trim>
    </insert>

    <update id="updateSQualificationsInfo" parameterType="SQualificationsInfo">
        update s_qualifications_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="qEnterpriseInfoId != null ">q_enterprise_info_id = #{qEnterpriseInfoId},</if>
            <if test="qEnterpriseAccount != null  and qEnterpriseAccount != ''">q_enterprise_account =
                #{qEnterpriseAccount},
            </if>
            <if test="qQualificationsNam != null  and qQualificationsNam != ''">q_qualifications_nam =
                #{qQualificationsNam},
            </if>
            <if test="qQualificationsNo != null  and qQualificationsNo != ''">q_qualifications_no =
                #{qQualificationsNo},
            </if>
            <if test="qCertificateNo != null  and qCertificateNo != ''">q_certificate_no = #{qCertificateNo},</if>
            <if test="version != null ">VERSION = #{version},</if>
            <if test="crtime != null ">CRTIME = #{crtime},</if>
            <if test="cruser != null  and cruser != ''">CRUSER = #{cruser},</if>
            <if test="crusername != null  and crusername != ''">CRUSERNAME = #{crusername},</if>
            <if test="del != null ">DEL = #{del},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSQualificationsInfoById" parameterType="Long">
        delete from s_qualifications_info where id = #{id}
    </delete>

    <delete id="deleteSQualificationsInfoByIds" parameterType="String">
        delete from s_qualifications_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
