<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stations_management.measurement.mapper.MeasurementSheetMapper">
    
    <resultMap type="MeasurementSheet" id="MeasurementSheetResult">
        <result property="id"    column="id"    />
        <result property="finalInspectionTime"    column="final_inspection_time"    />
        <result property="measurementNum"    column="measurement_num"    />
        <result property="plateNum"    column="plate_num"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="specification"    column="specification"    />
        <result property="carrier"    column="carrier"    />
        <result property="tare"    column="tare"    />
        <result property="grossWeight"    column="gross_weight"    />
        <result property="netWeight"    column="net_weight"    />
        <result property="deliveryUnit"    column="delivery_unit"    />
        <result property="receivingUnit"    column="receiving_unit"    />
        <result property="flowDirection"    column="flow_direction"    />
        <result property="measurer"    column="measurer"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMeasurementSheetVo">
        select id, final_inspection_time, measurement_num, plate_num, goods_name, specification, carrier, tare, gross_weight, net_weight, delivery_unit, receiving_unit, flow_direction, measurer, create_by, create_time, update_by, update_time, remark from s_measurement_sheet
    </sql>

    <select id="selectMeasurementSheetList" parameterType="MeasurementSheet" resultMap="MeasurementSheetResult">
        <include refid="selectMeasurementSheetVo"/>
        <where>  
            <if test="finalInspectionTime != null  and finalInspectionTime != ''"> and final_inspection_time = #{finalInspectionTime}</if>
            <if test="measurementNum != null  and measurementNum != ''"> and measurement_num = #{measurementNum}</if>
            <if test="plateNum != null  and plateNum != ''"> and plate_num = #{plateNum}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="specification != null  and specification != ''"> and specification = #{specification}</if>
            <if test="carrier != null  and carrier != ''"> and carrier = #{carrier}</if>
            <if test="tare != null "> and tare = #{tare}</if>
            <if test="grossWeight != null "> and gross_weight = #{grossWeight}</if>
            <if test="netWeight != null "> and net_weight = #{netWeight}</if>
            <if test="deliveryUnit != null  and deliveryUnit != ''"> and delivery_unit = #{deliveryUnit}</if>
            <if test="receivingUnit != null  and receivingUnit != ''"> and receiving_unit = #{receivingUnit}</if>
            <if test="flowDirection != null  and flowDirection != ''"> and flow_direction = #{flowDirection}</if>
            <if test="measurer != null  and measurer != ''"> and measurer = #{measurer}</if>
        </where>
    </select>
    
    <select id="selectMeasurementSheetById" parameterType="Long" resultMap="MeasurementSheetResult">
        <include refid="selectMeasurementSheetVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMeasurementSheet" parameterType="MeasurementSheet">
        insert into s_measurement_sheet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="finalInspectionTime != null  and finalInspectionTime != ''">final_inspection_time,</if>
            <if test="measurementNum != null  and measurementNum != ''">measurement_num,</if>
            <if test="plateNum != null  and plateNum != ''">plate_num,</if>
            <if test="goodsName != null  and goodsName != ''">goods_name,</if>
            <if test="specification != null  and specification != ''">specification,</if>
            <if test="carrier != null  and carrier != ''">carrier,</if>
            <if test="tare != null ">tare,</if>
            <if test="grossWeight != null ">gross_weight,</if>
            <if test="netWeight != null ">net_weight,</if>
            <if test="deliveryUnit != null  and deliveryUnit != ''">delivery_unit,</if>
            <if test="receivingUnit != null  and receivingUnit != ''">receiving_unit,</if>
            <if test="flowDirection != null  and flowDirection != ''">flow_direction,</if>
            <if test="measurer != null  and measurer != ''">measurer,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="finalInspectionTime != null  and finalInspectionTime != ''">#{finalInspectionTime},</if>
            <if test="measurementNum != null  and measurementNum != ''">#{measurementNum},</if>
            <if test="plateNum != null  and plateNum != ''">#{plateNum},</if>
            <if test="goodsName != null  and goodsName != ''">#{goodsName},</if>
            <if test="specification != null  and specification != ''">#{specification},</if>
            <if test="carrier != null  and carrier != ''">#{carrier},</if>
            <if test="tare != null ">#{tare},</if>
            <if test="grossWeight != null ">#{grossWeight},</if>
            <if test="netWeight != null ">#{netWeight},</if>
            <if test="deliveryUnit != null  and deliveryUnit != ''">#{deliveryUnit},</if>
            <if test="receivingUnit != null  and receivingUnit != ''">#{receivingUnit},</if>
            <if test="flowDirection != null  and flowDirection != ''">#{flowDirection},</if>
            <if test="measurer != null  and measurer != ''">#{measurer},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMeasurementSheet" parameterType="MeasurementSheet">
        update s_measurement_sheet
        <trim prefix="SET" suffixOverrides=",">
            <if test="finalInspectionTime != null  and finalInspectionTime != ''">final_inspection_time = #{finalInspectionTime},</if>
            <if test="measurementNum != null  and measurementNum != ''">measurement_num = #{measurementNum},</if>
            <if test="plateNum != null  and plateNum != ''">plate_num = #{plateNum},</if>
            <if test="goodsName != null  and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="specification != null  and specification != ''">specification = #{specification},</if>
            <if test="carrier != null  and carrier != ''">carrier = #{carrier},</if>
            <if test="tare != null ">tare = #{tare},</if>
            <if test="grossWeight != null ">gross_weight = #{grossWeight},</if>
            <if test="netWeight != null ">net_weight = #{netWeight},</if>
            <if test="deliveryUnit != null  and deliveryUnit != ''">delivery_unit = #{deliveryUnit},</if>
            <if test="receivingUnit != null  and receivingUnit != ''">receiving_unit = #{receivingUnit},</if>
            <if test="flowDirection != null  and flowDirection != ''">flow_direction = #{flowDirection},</if>
            <if test="measurer != null  and measurer != ''">measurer = #{measurer},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeasurementSheetById" parameterType="Long">
        delete from s_measurement_sheet where id = #{id}
    </delete>

    <delete id="deleteMeasurementSheetByIds" parameterType="String">
        delete from s_measurement_sheet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>